@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .homeMain{
    @apply
    h-screen 
    overflow-y-scroll 
    scrollbar-hide 
    max-w-full
    lg:max-w-7xl
    mx-auto
    bg-gray-900
    opacity-80
  }

  .appName{
    @apply
    text-2xl 
    font-google-sans 
    font-semibold 
    text-red-800
    hidden
    lg:inline-flex
  }

  .headerRouters{
    @apply
    lg:flex 
    hidden 
    items-center 
    space-x-6
    font-google-sans
    mx-auto 
  }

  .signInText{
    @apply
    text-base 
    font-google-sans 
    font-normal 
    lg:inline-flex 
    hidden
  }

  .topItemsDiv{
    @apply
    lg:h-[320px]
    h-[150px] 
    p-[150px]
    w-full
    flex-grow
    rounded-lg 
    bg-cover
    bg-no-repeat 
    bg-center 
    grid 
    place-items-center 
    space-y-3
    cursor-pointer
    hover:opacity-95
    hover:scale-105
    transform
    transition
    duration-300
    ease-in-out
  }

  .topItemsName{
    @apply
    text-3xl
    font-google-sans 
    font-semibold
  text-red-400
    hidden
    group-hover:inline-flex
    group-hover:opacity-100
  }

  .stockQuoteCSS{
    @apply
    grid
    p-10
    text-blue-400
    bg-gradient-to-b
    from-gray-600
    to-gray-800
    rounded-xl
    transform
    transition
    hover:scale-105
    mx-5
    my-3
    space-y-5
    ease-in-out
    duration-200
    cursor-pointer
  }

  .stockQuoteTitle{
    @apply
    text-base
            lg:text-xl 
            space-x-4 
            flex
            items-center 
            text-blue-600 
            font-semibold
  }
}